{# This is how you can write comments which aren't rendered. #}
{# Extend this template from the base email template, which includes base layout and CSS. #}
{% extends "email/base.html" %}
{# Load the internationalization module to translate strings, and humanize to show date-time #}
{% load i18n %}
{% load humanize %}
{# The email/base.html template uses a single "content" block #}
{% block content %}
<tr>
	<td class="alert alert-success">
		{% blocktrans with name=user.name %} Hi {{ name }}, {% endblocktrans %}
	</td>
</tr>
<tr>
	<td class="content-wrap">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="content-block">
					<p>Welcome to "das homelab", Noah's homelab running out of his dorm room. Below is the link to activate your new account, <em>but before you click it,</em> please read the information below:</p>
					<ul>
						<li>The username you are given cannot be easily changed.</li>
						<li>The email this was sent to will be set as the primary email on your account. All homelab-related notifications, such as shared file alerts or password reset emails, will be sent here. This <em>can</em> be changed in the user settings inside Authentik.</li>
						<li>You must either be connected to Twingate or the Brandenburg WiFi network to connect to das homelab.</li>
						<li>Note these important URLs:</li>
						<ul>
							<li><a href="https://home.noahsroberts.com">Homepage - where links to all services live</a></li>
							<li><a href="https://auth.noahsroberts.com">Authentik (aka "das homelab") - the single sign on</a></li>
							<li><a href="https://files.noahsroberts.com">Nextcloud - like Google Drive, but self-hosted and on steroids</a></li>
						</ul>
					</ul>
					
					<p>In case you were curious, here's the info that your invite contains:</p>
					<ul>
						<li>Name: {% trans user.name %}</li>
						<li>Username: {% trans user.username %}</li>
						<li>Email: {% trans user.email %}</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td class="content-block">
					<table
						role="presentation"
						border="0"
						cellpadding="0"
						cellspacing="0"
						class="btn btn-primary"
					>
						<tbody>
							<tr>
								<td align="center">
									<table
										role="presentation"
										border="0"
										cellpadding="0"
										cellspacing="0"
									>
										<tbody>
											<tr>
												<td>
													<a
														id="confirm"
														href="{{ url }}"
														rel="noopener noreferrer"
														target="_blank"
														>{% trans 'Accept Invite' %}</a
													>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="content-block">
					{% blocktrans with expires=expires|naturaltime %}
					The link above is valid for {{ expires }}.
					{% endblocktrans %}
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}